body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: rgb(7, 217, 81);
}
#myCarousel img{
    height: 300px;
    margin-top: 30px;
}
.carousel-inner p{
    margin-top: 15px;
    color: blue;
    font-size: 23px;
}

